<h2>Comments</h2>
<ul>
  <% comments.each do |comment| %>
    <li>
      <span><%= comment.text %></span>
      <%= link_to t(".remove_comment"), comment, method: :delete %>
    </li>
  <% end %>
</ul>
